# ===== .NET =====
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===== Visual Studio =====
.vs/
*.csproj.user

# ===== VS Code =====
.vscode/

# ===== JetBrains (Rider / IntelliJ) =====
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
